<!DOCTYPE html>
<html>
<head>
   <title>장난감수정</title>
</head>

<body>
      <form action="/bidRegist" method="POST" enctype="multipart/form-data">
      <h1>경매수정</h1>
      <hr/>
      <br>
      <%for(var i=0;i<data.length; i++) { %>
      <input type='file' name="photo" value="<%=data[i].toyPic%>" />
      <br>
      <input type="text" id="toyName" name="toyName" value="<%=data[i].toyName%>">
      <br>
      <input type="text" id="toyRprice" name="toyRprice" value="<%=data[i].toyRprice%>">
      <br>
      <input type="text" id="saleReason" name="saleReason" value="<%=data[i].saleReason%>">
      <br>
      <input type="text" id="toyExp" name="toyExp" value="<%=data[i].toyExp%>">
      <br>
      <input type="text" id="startCoin" name="startCoin"value="<%=data[i].startCoin%>">
      <br>
      <input type="datetime-local" id="endTime" name="endTime" value="<%=data[i].endTime%>">
      <br>
      <input type="submit"  value="수정하기">
      <% } %>
    </form>
</body>
</html>